In [57]:
import shelve as sh
from datetime import date

In [58]:
#hard htuple
id = 0
name = "Tom"
group = 10
bdate = date(2020, 1,4)

In [59]:
FILENAME = 'data/page.bin'

In [60]:
class htuple:
    def __init__(self, id, name, group, bdate):
        self.id = id
        self.name = name
        self.group = group
        self.bdate = bdate
        print("htuple created")

In [97]:
t1 = htuple(id, name, group, bdate)
t2 = htuple(1, "Ioann", 11, date(2020, 1, 2))

htuple created
htuple created

In [86]:
class fsystem:
    def write_data(htuple: htuple):
        with sh.open(FILENAME, 'n') as file:
            file[str(htuple.id)] = htuple

    def read_data(id: int):
        id = str(id)
        with sh.open(FILENAME, 'r') as file:
            if id in file:
                return file[id]
            
    def read_data_all():
        htuples = []
        with sh.open(FILENAME, 'r') as file:
            data = file.items()
            for tuple in data:
                htuples.append(tuple[1])
            
        return htuples

In [102]:
htuples = []
with sh.open(FILENAME, 'r') as file:
    data = file.items()
    for tuple in data:
        htuples.append(tuple[1])

In [104]:
len(htuples)

1

In [63]:
class dml:
    def insert(htuple: htuple):
        fsystem.write_data(htuple)

    def select(id: int):
        return fsystem.read_data(id)

    def select_all():
        return fsystem.read_data_all()

In [105]:
dml.insert(t1)
dml.insert(t2)

In [66]:
result = dml.select(id=str(t1.id))
print(result.name)

Tom

In [99]:
result = dml.select_all()

In [100]:
for tup in result:
    print(tup.name)

Ioann

In [52]:
pytup = ("sd", 1)

In [54]:
type(pytup)

tuple